# Bot Configuration
BOT_TOKEN=
OWNER_ID=565365965

# Bot Settings (Dynamically)
BOT_NAME=Auto Order Nokos - Botz
BOT_DESCRIPTION=Layanan automatis order nomor virtual 24/7 dengan deposit QRIS
BOT_VERSION=V4.0 (MongoDB Edition)
BOT_OWNER_NAME=@oxydastore
MENU_IMAGE_PATH=./assets/menu-image.jpg
FALLBACK_IMAGE_URL=https://files.catbox.moe/ohjxdg.jpg
TESTI_CHANNEL_ID=
TESTI_CHANNEL_URL=
CHANNEL_ID=
CHANNEL_URL=
PRIVATE_CHANNEL_ID=

# Database & Redis
MONGO_URI=

# REDIS_URL=redis://localhost:6379

# Third-Party APIs
RUMAHOTP_API_KEY=

# App Config
UNTUNG_NOKOS=
UNTUNG_DEPOSIT=

# H2H Configuration
EWALLET_TYPE=
EWALLET_NUMBER=